header{
	padding: 17em;


	background-image: url("https://s3-ap-southeast-1.amazonaws.com/media.thrillophilia.com/site/images/photos/000/013/343/original/Road_Trip_to_Ladakh-by_Ville_Hyv%C3%B6nen-Flickr.jpg");

}


h1{


	  font-family: cursive;
  text-align: center;
  color: rgb(107, 74, 174)
}